<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-retweet" aria-hidden="true"></i> <span>ELSA</span></a>
        </div>
        <div class="clearfix"></div>
        <div class="profile">
            <div class="profile_pic">
                <img src="/elsa/theme/images/chip.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span></span>
            </div>
        </div>
        <br />
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Meniu</h3><br><br>
                <ul class="nav side-menu">
                    <li><a href="index.ejs"><i class="fa fa-home"></i> Acasa<span class="fa fa-chevron-down"></span></a>
                        <!--<ul class="nav child_menu">-->
                        <!--<li><a href="/elsa/admin.html">Administrator</a></li>-->
                        <!--<li><a href="/elsa/statistics.html">Statistici</a></li>-->
                        <!--</ul>-->
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>