<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/elsa/index" class="site_title"><i class="fa fa-retweet" aria-hidden="true"></i> <span>ELSA</span></a>
        </div>
        <div class="clearfix"></div>
        <div class="profile">
            <div class="profile_pic">
                <img src="/elsa/theme/images/chip.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span></span>
            </div>
        </div>
        <br />
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Menu</h3><br><br>
                <ul class="nav side-menu">
					<li><a><i class="fa fa-edit"></i> Database operations <span class="fa fa-chevron-down"></span></a>                   
                        <ul class="nav child_menu">
                        <li><a href="/elsa/index">View devices</a></li>
                        <li><a href="/elsa/index">View users</a></li>
                        <li><a href="/elsa/index">View user devices</a></li>
                        </ul>
                    </li>
                  <li><a><i class="fa fa-desktop"></i> Information<span class="fa"></span></a></li>
                  <!-- <li><a><i class="fa fa-table"></i> Statistics <span class="fa fa-chevron-down"></span></a></li> -->
				   <li><a><i class="fa fa-home"></i> Contact <span class="fa"></span></a></li>				
                </ul>
            </div>
        </div>
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>