<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="nav-md">
<div class="container body" ng-app="testModule">
    <div class="main_container">
        <% include ../partials/left_menu %>
        <% include ../partials/top_menu %>
        <div class="right_col" role="main">
            <% include ../partials/elsa_content %>
        </div>
        <% include ../partials/footer%>
    </div>
</div>
    <% include ../partials/footer_scripts%>
</body>
</html>