<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-controller="countController">
        <span class="count_top"><i class="fa fa-user"></i> Nr. dispozitive</span>
        <div class="count">{{count}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"  ng-controller="countController">
        <span class="count_top"><i class="fa fa-user"></i> Nr. locatii distincte</span>
        <div class="count green">{{nr_locatii}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-controller="devicesController">
        <span class="count_top"><i class="fa fa-user"></i> Tipuri de evenimente</span>
        <div class="count" ng-init="numberOfEventTypes()">{{events}}</div>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Evenimente inregistrate in baza de date</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" ng-app="testModule" ng-controller="reportController">
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Id dispozitiv</th>
                        <th>Data</th>
                        <th>Eveniment</th>
                        <th>Locatie</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in databaseData | orderBy:'id':false">
                        <!--<tr ng-repeat="item in data | filter:'Codlea'">-->
                        <td>{{item.id}}</td>
                        <td>{{item.devid}}</td>
                        <td>{{item.timestamp}}</td>
                        <td>{{item.event}}</td>
                        <td>{{item.location}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Locatiile evenimentelor</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="devices-map"></div>
            </div>
        </div>
    </div>
</div>