<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form id="elsa-login-form">
                    <h1>Login ELSA</h1>
                    <div>
                        <input id="username" type="text" class="form-control" placeholder="Username" required="" />
                    </div>
                    <div>
                        <input id="password" type="password" class="form-control" placeholder="Password" required="" />
                    </div>
                    <div>
                        <button class="btn btn-default submit" type="submit">Log in</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </section>
        </div>
        <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
        <div class="x_content" ng-app="testModule" ng-controller="loginController">
            <!--<table id="datatable" class="table table-striped table-bordered">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Id</th>-->
                    <!--<th>Id dispozitiv</th>-->
                    <!--<th>Data</th>-->
                    <!--<th>Eveniment</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="item in loginData | orderBy:'id':false">-->
                    <!--<td>{{item.id}}</td>-->
                    <!--<td>{{item.name}}</td>-->
                    <!--<td>{{item.role}}</td>-->
                    <!--<td>{{item.password}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        </div>
    </div>
</div>